th {
    text-align: center;
  }
  
  .cart__img-box {
    width: 120px;
  }
  
  .cart__img-box img {
    width: 100%;
    height: 90px;
  }
  
  .cart__item-del i {
    cursor: pointer;
  }
  
  .cart__page-btn button a:hover {
    color: #fff;
  }
  
  .cart__subtotal {
    color: #df2020;
    font-size: 1.5rem;
  }

  .addTOCart__btn {
    border: none;
    font-size: 1rem;
    color: #fff;
    background: #df2020;
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 768px) {
    th,
    td {
      font-size: 0.8rem;
    }
  }