@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@700&family=Lato:wght@300&family=Prompt&display=swap');

.all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
}

@media (max-width: 800px) {
    .all {
        display: flex;
        flex-direction: column;
    }
}


.allform {
    border: none;
    margin-top: 50px;
    margin-left: 120px;
    flex-grow: 7;
}

.subtitle {
    font-size: 1.1rem;
}

.singleform {
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 25px;
    border: none;
}

.insideform {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    width: 90%;
    background: transparent;
    padding: 7px 20px;
    border: none;
    border-bottom: 1px solid rgba(33, 34, 69, .2980392156862745);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.submitbutton {
    margin-top: 20px;
    border: none;
    padding: 7px 25px;
    background: #df2020;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
}

.submitbutton:hover {
    background: #b21a1a;
}

.checkoutbill {
    width: 350px;
    max-height: 180px;
    flex-grow: 1;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 350px;
    background: #fde4e4;
    padding: 30px;
    box-sizing: border-box;
    display: block;
    font-size: 1.0rem;
}
.totalbill {
    font-size: 1.5rem;
}
.billline {
    float: right;
}

.checkoutbill h5,
.checkoutbill h6 {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.line {
    opacity: 10%;
}